.resultsContainer {
  width: 100%;
  position: relative;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.productTile {
  background-color: white;
  color: black;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid black;
}

.productTileExpanded {
  height: auto;
}

.productImageContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.productImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.productTile:hover .productImage {
  transform: scale(1.1);
}

.productInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.productInfo > * {
  flex: 1;
  text-align: center;
}

.productDescription {
  font-size: 14px;
  color: black;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productTileExpanded .productDescription {
  max-height: none;
}

.productButtons {
  display: flex;
  gap: 10px;
}

.productButtons button {
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.productButtons button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.checkoutButtonContainer {
  position: sticky;
  bottom: 20px;
  width: 100%;
  background-color: white; 
  text-align: center;
  padding: 10px 0;
  z-index: 10; 
}

.checkoutButton {
  padding: 15px 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.checkoutButton:hover {
  background-color: #333; 
}
