.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  max-width: 500px;
  margin-left: 10px;
  border: 1px solid black;
}

.formTitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.inputLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 20%;
}

.input {
  width: 75%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
}

.button {
  margin-left: 10px;
  padding: 12px;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25%;
}

.button:hover {
  background-color: #333;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Modal container (background) */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal button {
  margin-top: 20px;
}

.closeButton {
  margin-top: 10px;
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.modal h2 {
  margin-bottom: 20px;
}
